parameters:
  level: max
  paths:
    - app
  excludePaths:
    - app/Config/*
    - app/Views/*
  bootstrapFiles:
    - vendor/codeigniter4/codeigniter4/system/Test/bootstrap.php
  scanDirectories:
    - vendor/codeigniter4/codeigniter4/system/Helpers
    - vendor/kenjis/ci3-to-4-upgrade-helper/src/CI3Compatible/Helper
